@page
@using RazorPagesIntro.Pages
@model CallerModel
@{
    var count=1;

}
<style>

td{
     cursor:pointer;
}
</style>



@if(Model.LoggedIn) {
<H1>Caller!</H1>
<button type="button" class="btn btn-primary" onclick="newGame()">New Game</button>
<br/><br/>
<table class="table" id="bingo">
    <tr>
        <td class="letter" >B</td>
        @{
            while(count%15 != 0){
                <td id="number-@count" class="number" onclick="numberClick('@count')">@count</td>   
                count++;          
            }
                <td id="number-@count" class="number" onclick="numberClick('@count')">@count</td>     
                count++;    
          }
    </tr>
    <tr>
        <td class="letter">I</td>
        @{
            while(count%15 != 0){
                <td id="number-@count" class="number" onclick="numberClick('@count')">@count</td>   
                count++;          
            }
                <td id="number-@count" class="number" onclick="numberClick('@count')">@count</td>    
                count++;    
          }    
        
    </tr>
    <tr>
        <td class="letter">N</td>
        @{
            while(count%15 != 0){
                 <td id="number-@count" class="number" onclick="numberClick('@count')">@count</td>      
                count++;          
            }
                <td id="number-@count" class="number" onclick="numberClick('@count')">@count</td>      
                count++;    
          }   
       
    </tr>
    <tr>
        <td class="letter">G</td>
        @{
            while(count%15 != 0){
                 <td id="number-@count" class="number" onclick="numberClick('@count')">@count</td>   
                count++;          
            }
                <td id="number-@count" class="number" onclick="numberClick('@count')">@count</td>     
                count++;    
          }
    </tr>
    <tr>
        <td class="letter">O</td>
        @{
            while(count%15 != 0){
                <td id="number-@count" class="number" onclick="numberClick('@count')">@count</td>   
                count++;          
            }
                <td id="number-@count" class="number" onclick="numberClick('@count')">@count</td>    
                count++;    
          }
        </tr>
</table>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/caller.js"></script>
}
else{
    <style>
        .loginForm{
            width:20px;
        }
    </style>
   <form method="post">
    <h1> Please Login</h1>
    <div class="loginForm">Username:</div> <input type="text" name="username"/> 
    <br/><br/>
     <div class="loginForm">Password:</div> <input type="password" name="password"/>
     <br/><br/>
     <input type="submit" name="submit" value="submit"/>
   </form>
}

